@import "./variables";
@import "./functions";


header{
@include _Header;
height: 10vh;
width: 90vw;
margin: auto;
border-left: black solid;
border-right: black solid;
border-bottom: black solid;

.nav {
    height: 100%;
    width: 20%;
    float: left;
    background-color: chartreuse;
    a{
        height: 100%;
        width: 100%;
    }
    button{
        background: $buttoncolor;
        height: 100%;
        width: 100%;
        &:hover{
            background:$buttoncolorHover;
        }
        &::after{
            background: $buttoncolor;
        }
    }
}
#nav2,#nav4{
    border-left: black solid;
    border-right: black solid;
}


}



.buttons {
    height: 30px;
    width: 40px;
    @include buttons();
}
