@import "./variables";
@import "./functions";


body{
    background-color: $mainColor;
    background-image: url(/dontRLYKnow/img/Dog.jpg),url(/dontRLYKnow/img/wood.jpg);
    background-repeat: no-repeat,repeat;
    background-size: 100vw;
    height: 2001px;
    
    
}

header{
@include _Header;





.nav{
    
   @include _nav;
    
}
    a{
        text-align: center;
        line-height: 100px;
        width: 100%;
        height: 100%;
        color: white;
        
        
        
        &:hover{
            color: $thirdColor;
            @include _NoTextDec;
        }
        &:active{
            color:$mainColor;
            @include _NoTextDec;
        }
    }

    #nav1 {
        a{
            color: $mainColor;
        }
    }
}
#space{
    height: 150px;
    width: 100%;
}
#info{
    height: 300px;
    width: 40%;
    float: left;
    background:$secondaryColor;
    padding-left: 20px;
    padding-top: 15px;
}